<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>知乎大数据管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="../static/img/fav.ico">

    <!-- App css -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="../static/assets/css/metismenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/assets/css/style.css" rel="stylesheet" type="text/css"/>

    <script src="../static/assets/js/modernizr.min.js"></script>
    <style type="text/css">
        .img-full {
            width: 80px;
            border-radius: 50%;
            animation: light 4s ease-in-out infinite;
            transition: 0.5s;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
        }

        .img-full:hover {
            transform: scale(1.15) rotate(720deg);
        }
    </style>
    {% block head %}
    {% endblock %}

</head>


<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a class="logo">
                            <span>
                            <table>
                            <tr>
                            <td>
                            <a><img src="../static/img/lo.png" alt="" height="35"
                                    style="position: relative; left: -10px"></a>
                            </td>
                            <td>
                            <a><img src="../static/img/ava.png" alt="" height="40"
                                    style="position: relative; left: -22px; top: 2px"></a>
                            </td>
                            </tr>
                            </table>


                            </span>
                    <i>
                        <img src="../static/img/ava.png" alt="" height="40">
                    </i>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box" style="text-align: center;">
                <div>
                    <img width="50%" src="../static/img/logo.gif" alt="user-img"
                         class="rounded-circle img-fluid img-full">
                </div>
                <p></p>
                <h5><a>{{ request.session.username }}，欢迎登录！</a></h5>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li>
                        <a href="{% url 'dashboard' %}" {% block isa %}class="active"{% endblock %}>
                            <i class="fa fa-heart"></i>
                            <span>总览</span>
                        </a>
                    </li>
                    <li class="menu-title">数据管理</li>

                    <li>
                        <a href="{% url 'zhihuuser' %}">
                            <i class="fa fa-users"></i><span
                                class="badge badge-danger badge-pill float-right"
                                style="font-family: bold; font-weight: bold">24K+</span>
                            <span>知乎用户数据</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'zhihuque' %}">
                            <i class="fa fa-database"></i><span
                                class="badge badge-danger badge-pill float-right"
                                style="font-family: bold; font-weight: bold">20K+</span>
                            <span>知乎问题数据</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'zhihutag' %}">
                            <i class="fa fa-tags"></i><span
                                class="badge badge-danger badge-pill float-right"
                                style="font-family: bold; font-weight: bold">17K+</span>
                            <span>问题标签数据</span>
                        </a>
                    </li>
                    <li class="menu-title">数据查询</li>
                    <li>
                        <a href="{% url 'search' %}">
                            <i class="fa fa-search"></i> <span>知乎问题查询</span>
                        </a>
                    </li>
                    <li class="menu-title">数据分析</li>


                    <li>
                        <a href="{% url 'useranal' %}">
                            <i class="fa fa-cubes"></i> <span>知乎用户分析</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contentanal' %}">
                            <i class="fa fa-bar-chart "></i> <span>知乎内容分析</span>
                        </a>
                    </li>
                    <li class="menu-title">用户管理</li>

                    <li>
                        <a href="{% url 'users' %}">
                            <i class="fa fa-user-circle"></i><span
                                class="badge badge-info float-right">{{ request.session.usersum }}</span>
                            <span>用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-sign-out"></i> <span>退出用户</span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- Start right Content here -->
    <div class="content-page">

        <!-- Top Bar Start -->
        <div class="topbar">

            <nav class="navbar-custom">

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 class="page-title">{% block pagetitle %}{% endblock %}</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">欢迎访问知乎大数据管理系统~</li>
                            </ol>
                        </div>
                    </li>

                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->


        <!-- Start Page content -->
        {% block body %}
        {% endblock %}

        <footer class="footer">
            2020 © <a href="https://moluuser.com" target="_blank">moluuser</a>
        </footer>

    </div>
    <!-- End Right content here -->
</div>
<!-- App js -->
<script src="../static/assets/js/jquery.core.js"></script>
<script src="../static/assets/js/jquery.app.js"></script>
</body>
</html>