<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="index">
    <title>知乎大数据后台管理系统</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <style type="text/css">
        .logincard {
            box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
            background: white;
        }

        body {
            background: url("../static/img/bg.webp") center center no-repeat no-repeat fixed #6A6B6F;
            background-size: cover;
        }
    </style>
</head>
<body class="text-center">
<form class="form-signin logincard">
    <br>
    <h1 class="h3 mb-3 font-weight-normal">免责声明</h1>
    <br>
    <p>如果您使用本系统，您的使用行为将被视为对本声明全部内容的认可</p>
    <p>请勿将本系统用于任何商业活动</p>
    <p>所有内容仅供学习交流使用，由此产生的任何责任由使用者承担。</p>
    <br>
    <a class="mt-5 mb-3 text-muted" href="{% url 'login' %}">返回登陆</a>
</form>
</body>
</html>